.chatbot-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--button-bg);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-button:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.1);
}

.chatbot-button img {
  width: 32px;
  height: 32px;
}

.chat-window {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--button-bg-hover);
}

.chatbot-header-icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.chatbot-header-title {
  font-size: 1rem;
  color: var(--text-color);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.gender-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  flex: 1rem;
}

.gender-option {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  border: 1px solid var(--bubble-bg-assistant);
}

.gender-option:hover {
  background-color: var(--bubble-bg-user);
}

.gender-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
}

.chat-bubble {
  display: flex;
  margin-bottom: 0.5rem;
  max-width: max-content;
  padding: 0.75rem;
}

.chat-bubble.user {
  background-color: var(--bubble-bg-user);
  align-self: flex-end;
  justify-content: flex-end;
  border-radius: 1rem 0 1rem 1rem;
  margin-left: auto; 
}

.chat-bubble.assistant {
  background-color: var(--bubble-bg-assistant);
  color: white;
  align-self: flex-start;
  justify-content: flex-start;
  border-radius: 0 1rem 1rem 1rem;
  margin-left: 0; 
}

.chat-bubble-content {
  display: flex;
  align-items: flex-start;
}

.chat-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem; 
}

.chat-bubble.user .chat-avatar {
  margin-right: 0;
  margin-left: 0.5rem; 
}

.chat-bubble p {
  margin: 0;
}

.chat-input-container {
  display: flex;
  align-items: center;
}

.chat-input-container input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--button-bg-hover);
}

.chat-input-container button {
  background-color: var(--button-bg);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input-container button:hover {
  background-color: #89a6c0;
} 


