.hero-section {
  padding: 5rem 2rem;
  text-align: center;
  min-height: 90vh;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --hero-bg-light: linear-gradient(90deg, #a7c7e7, #f7d1cd);
  --hero-bg-dark: linear-gradient(to right, #1a1a1a, #333333);
  --hero-text-light: #3e3e3e;
  --hero-text-dark: #e0e0e0;
  --hero-button-hover-dark: #357abd;
}

.hero-section.light {
  background: var(--hero-bg-light);
  color: var(--hero-text-light);
}

.hero-section.dark {
  background: var(--hero-bg-dark);
  color: var(--hero-text-dark);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: var(--button-bg);
  color: var(--hero-bg-light);
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: var(--button-bg-hover);
}

.hero-section.dark .hero-button:hover {
  background-color: var(--hero-button-hover-dark);
}

.hero-icon-container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.hero-icon {
  width: 120px;
  height: 120px;
  transition: transform 0.3s;
}

.hero-icon:hover {
  transform: scale(1.1);
}
